<header class="wrapper mat-toolbar">    
    <mat-toolbar>
        <h1>Game Manager</h1>      
        <span>
            <img src="assets/images/logo.svg" alt="Logo image" class="logo" />
        </span>
        <div class="links-group">
            <a
                routerLink="/games"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
            >Games</a>
            <a routerLink="/officials" routerLinkActive="active">Officials</a>
        </div>
      </mat-toolbar>
  </header>
  

  