/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; }

:root {
    --main-color-200: #F2FFFD;
    --main-color-400: #31C7AF;
    --main-color-600: #005036;
    --main-color-900: #00260F;
    --neutral-color-400: #E9EFEF;
    --neutral-color-600: #C9D4D2;
    --neutral-color-900: #929F9B;
  }