<mat-card>
    <h2 class="title">{{ game.name  | truncateName : 20  }}</h2>
    <div class="row">
        <span class="price-label">Location:</span>
        <span class="price">{{ game.location  | truncateName : 20 }}</span>
    </div>
    <div class="row">
        <span class="price-label">Date:</span>
        <span class="price">{{ game.date | date:'medium' }}</span>
    </div>
    <div class="row actions">
        <button mat-raised-button (click)="onGameDelete()">
            <mat-icon fontIcon="delete"></mat-icon>
        </button>
        <button mat-raised-button (click)="openGameEdit()">
            <mat-icon fontIcon="edit"></mat-icon>            
        </button>
    </div>    
</mat-card>