<div class="wrapper column gap-1">
    <mat-grid-list cols="4" rowHeight="3:2">
        @for (official of officials; track official.id) {            
            <mat-grid-tile>
                <app-official-item 
                    [official]="official"
                    (deleteOfficialEvent)="deleteOfficial($event)"
                    (editOfficialEvent)="updateOfficial($event)"
                />
            </mat-grid-tile>
        }
    </mat-grid-list>    
    <mat-paginator [length]="length"
                [pageSize]="pageSize" 
                [pageSizeOptions]="pageSizeOptions"
                (page)="onPageChange($event)"
                >
    </mat-paginator>
</div>